{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["next", "next/core-web-vitals"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 12,
		"sourceType": "module"
  },
  "rules": {
    "indent": [
      "error",
      2
    ],
    "linebreak-style": [
      "off",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "no-unused-vars": ["off"],
		"no-undef": ["off"]
  }
}
