@charset 'UTF-8';
@import '../utils/_utils.scss';

.alert-desktop {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.9);
  z-index: 6000;
}

.alert__wrapper {
  width: 270px;
  position: relative;
  overflow: hidden;
  background-color: $color-white;
  border-radius: 13px;
}

.alert__container {
  padding: 16px;
  text-align: center;
}

.alert__title {
  font-size: map-get($font-size, sm);
}

.alert__content {
  font-size: map-get($font-size, xxs);
}

.alert__footer {
  display: flex;
  border-top: 1px $color-gray solid;

  button {
    padding: 6px;
    font-size: map-get($font-size, sm);
    color: $color-green;
    flex-grow: 1;

    & + button {
      border-left: 1px $color-gray solid;
    }
  }
}
