@charset 'UTF-8';
@import '../utils/_utils.scss';

.select {
  display: block;
  position: relative;
  cursor: pointer;

  > select {
    width: 100%;
    line-height: 1em;
    appearance: none;
  }
}
