@charset 'UTF-8';
@import '@/Styles/utils/_utils.scss';

$icon-size: 1.6em;
$icons: ('home': '\e8ce', 'quiz': '\f04c', 'collection': '\e241', 'record': '\e85d', 'settings': '\e8b8');

#menu {
  width: 80%;
  height: 100%;
  min-width: 140px;
  max-width: 400px;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  background-color: $color-white;
  z-index: 4500;
  transition: transform 0.3s;
  transform: translateX(100%);
  flex-direction: column;

  &.is-active {
    transform: translateX(0);
  }
}

.menu__header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-basis: 50px;
}

.menu__body {
  position: relative;
  overflow: hidden;
  flex-grow: 1;
}

.menu__content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.menu__close-btn {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &::before {
    @include font-material;

    content: '\e5cd';
    width: 25px;
    height: 25px;
    margin: auto;
    display: block;
    line-height: 25px;
    color: $color-black;
  }
}

.menu__list {
  > li {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 10px;
  }
}

.menu__item {
  display: flex;
  align-items: center;
  font-size: map-get($font-size, base);
  color: rgba($color-brown, 0.5);
  line-height: $icon-size;

  &::before {
    @include font-material;

    width: $icon-size;
    height: $icon-size;
    margin-right: 5px;
    display: block;
    text-align: center;
    line-height: $icon-size;
  }

  &.current {
    color: $color-wine;
  }

  @each $name, $unicode in $icons {
    &.icon-#{$name}::before {
      content: $unicode;
    }
  }
}
