/* stylelint-disable function-no-unknown */
@charset 'UTF-8';
@import '@/Styles/utils/_utils.scss';

$list-item--margin: 12px;
$list-item--padding: 12px;

// * List

.collectedList {
  display: flex;
  flex-wrap: wrap;

  > li {
    width: 100%;
    margin-bottom: $list-item--margin;

    @include min-width(768px) {
      width: calc((100% - #{$list-item--margin}) / 2);
      margin-right: $list-item--margin;

      &:nth-child(even) {
        margin-right: 0;
      }
    }

    @include min-width(1025px) {
      width: calc((100% - (#{$list-item--margin * 2})) / 3);

      &:nth-child(even) {
        margin-right: $list-item--margin;
      }

      &:nth-child(3n + 3) {
        margin-right: 0;
      }
    }
  }
}

// * Card

.collectedCard {
  height: 100%;
  padding: $list-item--padding;
  display: block;
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 rgba($color-black, 0.2);
  cursor: pointer;

  &__title {
    font-size: map-get($font-size, base);
    color: $color-wine;
    line-height: 1.6em;
  }

  &__subtitle {
    font-size: map-get($font-size, xs);
    color: $color-black;
    line-height: 1.4em;
  }

  &__part {
    margin-right: 10px;
    font-weight: 700;

    &::after {
      content: '.';
    }
  }
}
