@charset 'UTF-8';
@import '../utils/_utils.scss';

.feature {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &.is-flex-start {
    justify-content: flex-start;
  }

  &.is-flex-end {
    justify-content: flex-end;
  }

  &.is-flex-center {
    justify-content: center;
  }
}

.fieldset {
  margin-right: 10px;
  line-height: 1em;

  &:last-child {
    margin-right: 0;
  }
}
