@charset 'UTF-8';
@import '@/Styles/utils/_utils.scss';

$icon-size: 20px;
$icons: (
  'update': ('material', '\e5d5'),
  'storage': ('awesome', '\f1c0'),
  'github': ('awesome', '\f126'),
  'clearall': ('material', '\e92b'),
);

// * List

.settings-list {
  > li {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// * Section

.settings-section {
  padding: 12px;
  font-size: map-get($font-size, xs);
  color: $color-black;
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 rgba($color-black, 0.2);

  &__content {
    padding-left: 30px;
  }
}

// * Links

.settings-link {
  width: 100%;
  padding: 12px;
  display: block;
  font-size: map-get($font-size, xs);
  text-align: left;
  color: $color-black;
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 rgba($color-black, 0.2);
}

// * Icons

.settings__has-icon {
  display: flex;
  align-items: center;

  &::before {
    width: $icon-size;
    height: $icon-size;
    margin-right: 10px;
    display: block;
    text-align: right;
    line-height: $icon-size;
  }

  @each $name, $item in $icons {
    $family: nth($item, 1);
    $unicode: nth($item, 2);

    &.icon-#{$name}::before {
      content: $unicode;

      @if $family == 'material' {
        @include font-material;
      }

      @if $family == 'awesome' {
        @include font-awesome;
      }
    }
  }
}
