@charset 'UTF-8';
@import '../utils/_utils.scss';

$sentence-interval--sm: 12px;
$sentence-interval--lg: 1rem;

.wordDetail {
  font-size: map-get($font-size, sm);

  &__title {
    font-size: map-get($font-size, lg);
    color: $color-wine;
  }

  &__subtitle {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: $color-black;
  }

  &__part {
    margin-right: 10px;
    font-weight: 700;

    &::after {
      content: '.';
    }
  }

  &__example {
    padding: 5px 10px;
    margin-top: $sentence-interval--sm;
    background-color: $color-yellow-light;
    border-radius: 8px;
    margin-bottom: $sentence-interval--sm;
  }

  &__example-en,
  &__example-ch {
    line-height: 1.4em;
    font-size: map-get($font-size, xs);

    strong {
      text-decoration: underline;
    }
  }

  &__example-en {
    color: $color-green-dark;
  }

  &__example-ch {
    color: $color-green;
  }

  &__status {
    padding-top: $sentence-interval--sm;
    padding-bottom: $sentence-interval--sm;
    padding-left: 30px;
    font-size: map-get($font-size, xs);
    color: $color-black;
    list-style: disc;
    line-height: 1.4em;

    @include min-width(1025px) {
      padding-top: $sentence-interval--lg;
      padding-bottom: $sentence-interval--lg;
    }
  }
}

.speech-btn {
  margin-right: 5px;
  display: block;

  &::before {
    @include font-material;

    content: '\e050';
    width: 24px;
    height: 24px;
    display: block;
    text-align: center;
    line-height: 24px;
  }
}