@charset 'UTF-8';

// * ==========================================================================
// * 顏色
// * ==========================================================================

$color-white: #fff;
$color-black: #000;

$font-family: 'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', sans-serif, arial;
