@charset 'UTF-8';

// * ==========================================================================
// * Color
// * ==========================================================================

$color-white: #fff;
$color-black: #333;
$color-gray: #c8c9cc;
$color-green: #1ea79d;
$color-wine: #a31621;
$color-brown: #420c14;
$color-orange: #f58f29;
$color-yellow: #ffe464;

// * ==========================================================================
// * Font
// * ==========================================================================

$font-family: 'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', sans-serif, arial;

// * ==========================================================================
// * Component
// * ==========================================================================

$header-height: 50px;
