@charset 'UTF-8';
@import '../utils/_utils.scss';

#menu {
  width: 80%;
  height: 100%;
  min-width: 140px;
  max-width: 400px;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  background-color: $color-white;
  z-index: 4500;
  transition: transform 0.3s;
  transform: translateX(100%);
  flex-direction: column;

  &.is-active {
    transform: translateX(0);
  }
}

.menu__header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-basis: 50px;
}

.menu__body {
  flex-grow: 1;
  overflow: hidden;
}

.menu__close-btn {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &::before {
    @include font-awesome;

    content: '\f00d';
    width: 25px;
    height: 25px;
    margin: auto;
    display: block;
    line-height: 25px;
    color: $color-black;
  }
}
