@charset 'UTF-8';
@import '@/Styles/utils/_utils.scss';

// * ==========================================================================
// * Animation
// * ==========================================================================

// * Fade

.fade-exit,
.fade-enter-done,
.fade-enter-active {
  opacity: 1;
}

.fade-enter,
.fade-exit-done,
.fade-exit-active {
  opacity: 0;
}

.fade-enter-active,
.fade-exit-active {
  transition: opacity 0.3s ease;
}

// * Bouncing Animation

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translate3d(0, -1rem, 0);
  }
}

.bouncing-animation {
  animation: bouncing-loader 0.6s infinite alternate;
}

.bouncing-animation_delay-2 {
  animation-delay: 0.2s;
}

.bouncing-animation_delay-4 {
  animation-delay: 0.4s;
}
