/* stylelint-disable function-no-unknown */
/* stylelint-disable selector-id-pattern */
@charset 'UTF-8';
@import '@/Styles/utils/_utils.scss';

// * ==========================================================================
// * Conent
// * ==========================================================================

html,
body,
#__next,
#__layout {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;

  @include min-width(1025px) {
    height: auto;
  }
}

html {
  @include min-width(1025px) {
    height: 100%;
    overflow-y: auto;

    &.is-fixed {
      overflow-y: hidden;
    }
  }
}

#__layout {
  overflow-y: auto;

  @at-root .is-fixed & {
    overflow-y: hidden;
  }

  @include min-width(1025px) {
    overflow-y: hidden;
  }
}

.title {
  margin-top: 1.5rem;
  font-size: map-get($font-size, xl);
  font-weight: 500;
  text-align: center;
  color: $color-yellow;
  line-height: 1.2em;
  margin-bottom: 1.5rem;

  @include min-width(1025px) {
    margin-top: 3rem;
    margin-bottom: 1.8rem;
  }
}

.content {
  width: calc(100% - 30px);
  padding: 16px;
  margin: 1rem auto;
  background-color: $color-white;
  border-radius: 8px;

  @include min-width(768px + 30px) {
    width: 100%;
    max-width: 768px;
  }

  &.size-large {
    @include min-width(1024px + 30px) {
      max-width: 1024px;
    }
  }

  &.size-small {
    @include min-width(480px + 30px) {
      max-width: 480px;
    }
  }
}

// * Swiper Carousel

.carousel {
  .swiper-slide {
    height: auto;
  }

  .carousel-prev-button::before {
    content: '\e2ea';
  }

  .carousel-next-button::before {
    content: '\e5e1';
  }
}

// * Favorite Button

.favorite-button {
  display: flex;
  align-items: center;
  justify-content: center;

  &.before-icon-star::before {
    @include font-material;

    content: '\e838';
  }
}
