/* stylelint-disable function-no-unknown */
@charset 'UTF-8';
@import '@/Styles/utils/_utils.scss';

$icon-size: 1.6em;
$icons: (
  'home': '\e8ce',
  'quiz': '\f04c',
  'collection': '\e241',
  'favorite': '\e838',
  'record': '\e85d',
  'info': '\e88e'
);

.menu__item {
  display: flex;
  align-items: center;
  font-size: map-get($font-size, base);
  color: rgba($color-brown, 0.5);
  line-height: $icon-size;

  &::before {
    @include font-material;

    width: $icon-size;
    height: $icon-size;
    margin-right: 5px;
    display: block;
    text-align: center;
    line-height: $icon-size;
  }

  &.current {
    color: $color-wine;
  }

  @each $name, $unicode in $icons {
    &.icon-#{$name}::before {
      content: $unicode;
    }
  }
}
