@charset 'UTF-8';
@import './utils/_utils.scss';

// * ==========================================================================
// * RESET
// * ==========================================================================

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 20px;
  font-family: $font-family;
  color: $color-black;
  background-color: $color-turquoise;
  line-height: 1.6em;
  letter-spacing: 1px;
  -webkit-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
}

* {
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: 700;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  margin: 0;
  font-family: $font-family;
  background-color: transparent;
  border: none;
  line-height: 1;
  font: inherit;
  cursor: pointer;
}

input {
  font-family: $font-family;
}
