@charset 'UTF-8';

// * ==========================================================================
// * Color
// * ==========================================================================

$color-white: #fff;
$color-black: #333;
$color-gray: #c8c9cc;
$color-gray-light: #f5f5f5;
$color-green: #1ea79d;
$color-green-dark: #168077;
$color-wine: #a31621;
$color-brown: #420c14;
$color-orange: #f58f29;
$color-yellow: #ffe464;
$color-yellow-light: #fcf8e3;

// * ==========================================================================
// * Font
// * ==========================================================================

$font-family: 'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', sans-serif, arial;
$font-size: (
  xl: 32px,
  lg: 24px,
  md: 22px,
  base: 20px,
  sm: 18px,
  xs: 16px,
  xxs: 14px
);

// * ==========================================================================
// * Component
// * ==========================================================================

$header-height: 50px;
