/* stylelint-disable function-no-unknown */
@charset 'UTF-8';
@import '@/Styles/utils/_utils.scss';

// * Fab Button

$fab-btn--size: 40px;
$fab-btn--radius: 8px;

.fab-btn {
  width: $fab-btn--size;
  height: $fab-btn--size;
  background-color: $color-white;
  border-radius: $fab-btn--radius;

  &::before {
    @include font-material;

    text-align: center;
    line-height: $fab-btn--size;
    color: $color-black;
  }
}

.fab__sort-down-btn {
  &::before {
    content: '\e164';
  }

  &.is-down-alt::before {
    color: $color-green;
  }
}

.fab__update-btn {
  &::before {
    content: '\e5d5';
  }
}

// * Speech Button

.speech-btn {
  margin-right: 5px;
  display: block;

  &::before {
    @include font-material;

    content: '\e050';
    width: 24px;
    height: 24px;
    display: block;
    text-align: center;
    line-height: 24px;
    color: $color-black;
  }
}

// * Basic Button

.basic-btn {
  min-width: 105px;
  padding: 7px 20px;
  margin-right: 5px;
  margin-left: 5px;
  display: inline-block;
  font-size: map-get($font-size, sm);
  text-align: center;
  color: $color-white;
  background-color: $color-green;
  border-radius: 7px;
  line-height: 1.4em;

  @include min-width(1025px) {
    &:hover {
      background-color: $color-green-dark;
    }
  }

  &.is-disabled {
    background-color: $color-black;
    opacity: 0.6;
    cursor: not-allowed;
  }
}
