/* stylelint-disable function-no-unknown */
@charset 'UTF-8';
@import '@/Styles/utils/_utils.scss';

// * Speech Button

.speech-btn {
  margin-right: 5px;
  display: block;

  &::before {
    @include font-material;

    content: '\e050';
    width: 24px;
    height: 24px;
    display: block;
    text-align: center;
    line-height: 24px;
    color: $color-black;
  }
}
