/* stylelint-disable function-no-unknown */
@charset 'UTF-8';
@import '@/Styles/utils/_utils.scss';

.roof {
  height: 100%;
  padding: 12px;
  display: block;
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 rgba($color-black, 0.2);
  cursor: pointer;
}

.title {
  font-size: map-get($font-size, base);
  color: $color-wine;
  line-height: 1.6em;
  word-break: break-all;
}

.description {
  font-size: map-get($font-size, xs);
  color: $color-black;
  line-height: 1.4em;
}

.part {
  margin-right: 10px;
  font-weight: 700;

  &::after {
    content: '.';
  }
}
