/* stylelint-disable function-no-unknown */
@charset 'UTF-8';
@import '@/Styles/utils/_utils.scss';

$list-item--margin: 12px;
$list-item--padding: 12px;

// * List

.list {
  display: flex;
  flex-wrap: wrap;

  > li {
    width: 100%;
    margin-bottom: $list-item--margin;

    @include min-width(768px) {
      width: calc((100% - #{$list-item--margin}) / 2);
      margin-right: $list-item--margin;

      &:nth-child(even) {
        margin-right: 0;
      }
    }

    @include min-width(1025px) {
      width: calc((100% - (#{$list-item--margin * 2})) / 3);

      &:nth-child(even) {
        margin-right: $list-item--margin;
      }

      &:nth-child(3n + 3) {
        margin-right: 0;
      }
    }
  }
}
