@charset 'UTF-8';
@import '@/Styles/utils/_utils.scss';

.feature {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &.is-flex-start {
    justify-content: flex-start;
  }

  &.is-flex-end {
    justify-content: flex-end;
  }

  &.is-flex-center {
    justify-content: center;
  }
}

.fieldset {
  margin-right: 10px;
  margin-bottom: 10px;
  line-height: 1em;

  @include min-width(768px) {
    margin-bottom: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &.is-mobile-full {
    width: 100%;
    margin-right: 0;

    @include min-width(768px) {
      width: auto;
      margin-right: 10px;
    }
  }
}
