/* stylelint-disable scss/at-rule-no-unknown */
@charset 'UTF-8';
@use '@/Styles/_mixin.scss' as *;
@use '@/Styles/_variables.scss' as *;
@use '@/Styles/_font.scss' as *;
@use '@/Styles/_reset.scss' as *;
@use '@/Styles/_content.scss' as *;
@use '@/Styles/_animate.scss' as *;
@use '@/Styles/_form.scss' as *;
@use '@/Styles/_menu.scss' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

.before-font-material::before,
.after-font-material::after {
  @include font-material;
}

.before-font-awesome::before,
.after-font-awesome::after {
  @include font-awesome;
}

// Column

.column-item {
  @media (min-width: 768px) {
    width: calc((100% - 0.75rem)/2);
    margin-right: 0.75rem;

    &:nth-child(even) {
      margin-right: 0;
    }
  }

  @media (min-width: 1025px) {
    width: calc((100% - 1.5rem)/3);

    &:nth-child(even) {
      margin-right: 0.75rem;
    }

    &:nth-child(3n + 3) {
      margin-right: 0;
    }
  }
}
