/* stylelint-disable function-no-unknown */
@charset 'UTF-8';
@import '@/Styles/utils/_utils.scss';

$icon-size: 30px;

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.title {
  display: flex;
  align-items: center;
  line-height: $icon-size;
  font-size: map-get($font-size, md);
  color: $color-green-dark;

  &::before {
    @include font-material;

    content: '\e8ce';
    width: $icon-size;
    height: $icon-size;
    margin-right: 5px;
    display: block;
    text-align: center;
    line-height: $icon-size;
  }
}

.date {
  font-size: map-get($font-size, xs);
}

.body {
  padding: 50px 15px;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgba($color-black, 0.4);
}

.caption {
  font-size: map-get($font-size, xl);
  text-align: center;
  line-height: 1.6em;
  color: $color-wine;
  word-break: break-all;
}

.feature {
  display: flex;
  justify-content: flex-end;
}

.subtitle {
  font-size: map-get($font-size, base);
  text-align: center;
  color: $color-black;
}

.part {
  margin-right: 10px;
  font-weight: 700;

  &::before {
    content: '(';
  }

  &::after {
    content: '.)';
  }
}
